.hidden {
    display: none;
}

.lnr-camera-video {
    font-size: 1.3rem;
    font-weight: bold;
    vertical-align: bottom;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar p{
    color: #ffffff;
    margin: 0 1rem 0 0;
}

.btn.hangup:hover {
    color: #ffffff;
}